.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  animation: showModal .3s ease-out;
  border: 2px solid rgb(160, 58, 10);
  margin:auto;
  position: absolute;
  max-width: 340px;
  width:100%;
  background-color:rgb(130, 214, 206);
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor:pointer;
  border-style: none;
  background-color: rgb(62, 11, 213);
  font-size: 1.2rem;
  color: azure;
}